# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project storage & runtime generated data
storage/projects/*
!storage/projects/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
test_file/*
!test_file/.gitkeep

# Audio & Video media files
*.wav
*.mp3
*.mp4
*.mkv
*.flac
*.aac
*.webp

# IDE & OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
